anyio==3.6.2
async-timeout==4.0.2
beautifulsoup4==4.12.2
bleach==6.0.0
boto==2.49.0
boto3==1.26.129
botocore==1.29.129
Brotli==1.0.9
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
click-log==0.4.0
colorama==0.4.6
Deprecated==1.2.13
deprecation==2.1.0
docutils==0.19
dotty-dict==1.3.1
fastapi==0.95.1
ffmpeg==1.4
gitdb==4.0.10
GitPython==3.1.31
gotrue==1.0.1
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
invoke==1.7.3
jaconv==0.3.4
jaraco.classes==3.2.3
jmespath==1.0.1
keyring==23.13.1
markdown-it-py==2.2.0
mdurl==0.1.2
more-itertools==9.1.0
mutagen==1.46.0
packaging==23.1
pkginfo==1.9.6
platformdirs==3.5.0
postgrest==0.10.6
pycryptodomex==3.17
pydantic==1.10.7
Pygments==2.15.1
pykakasi==2.2.1
python-dateutil==2.8.2
python-gitlab==3.14.0
python-semantic-release==7.33.2
python-slugify==8.0.1
pytube==12.1.3
rapidfuzz==2.15.1
readme-renderer==37.3
realtime==1.0.0
redis==4.5.4
requests==2.30.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.3.5
s3transfer==0.6.1
semver==2.13.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
spotdl==4.1.10
spotipy==2.23.0
starlette==0.26.1
storage3==0.5.2
StrEnum==0.4.10
supafunc==0.2.2
syncedlyrics==0.5.0
tekore==4.6.0
text-unidecode==1.3
tomlkit==0.11.8
tqdm==4.65.0
twine==3.8.0
typing-extensions==4.5.0
Unidecode==1.3.6
urllib3==1.26.15
uvicorn==0.22.0
webencodings==0.5.1
websockets==10.4
wrapt==1.15.0
yt-dlp==2023.3.4
ytmusicapi==0.24.1
zipp==3.15.0
